article, aside, details, figcaption, figure, footer, header, hgroup, nav,
section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:hover, a:active {
  outline: 0; }

sup, sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  border: 0;
  -ms-interpolation-mode: bicubic; }

#map_canvas img {
  max-width: none; }

button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle; }

button, input {
  *overflow: visible;
  line-height: normal; }

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  background-color: white; }

a {
  color: #6c71c4;
  text-decoration: none; }

a:hover {
  color: #d33682;
  text-decoration: underline; }

.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1; }
  .container:before, .container:after {
    display: table;
    content: ""; }
  .container:after {
    clear: both; }

.grid .fixed .row {
  margin-left: -20px;
  *zoom: 1; }
  .grid .fixed .row:before, .grid .fixed .row:after {
    display: table;
    content: ""; }
  .grid .fixed .row:after {
    clear: both; }
.grid .fixed [class*="span"] {
  float: left;
  margin-left: 20px; }
.grid .fixed .container,
.grid .fixed .navbar-fixed-top .container,
.grid .fixed .navbar-fixed-bottom .container {
  width: 940px; }
.grid .fixed .span-1 {
  width: 60px; }
.grid .fixed .span-2 {
  width: 140px; }
.grid .fixed .span-3 {
  width: 220px; }
.grid .fixed .span-4 {
  width: 300px; }
.grid .fixed .span-5 {
  width: 380px; }
.grid .fixed .span-6 {
  width: 460px; }
.grid .fixed .span-7 {
  width: 540px; }
.grid .fixed .span-8 {
  width: 620px; }
.grid .fixed .span-9 {
  width: 700px; }
.grid .fixed .span-10 {
  width: 780px; }
.grid .fixed .span-11 {
  width: 860px; }
.grid .fixed .span-12 {
  width: 940px; }
.grid .fixed .offset-1 {
  margin-left: 100px; }
.grid .fixed .offset-2 {
  margin-left: 180px; }
.grid .fixed .offset-3 {
  margin-left: 260px; }
.grid .fixed .offset-4 {
  margin-left: 340px; }
.grid .fixed .offset-5 {
  margin-left: 420px; }
.grid .fixed .offset-6 {
  margin-left: 500px; }
.grid .fixed .offset-7 {
  margin-left: 580px; }
.grid .fixed .offset-8 {
  margin-left: 660px; }
.grid .fixed .offset-9 {
  margin-left: 740px; }
.grid .fixed .offset-10 {
  margin-left: 820px; }
.grid .fixed .offset-11 {
  margin-left: 900px; }
.grid .fixed .offset-12 {
  margin-left: 980px; }
.grid .fluid .row {
  width: 100%;
  *zoom: 1; }
  .grid .fluid .row:before, .grid .fluid .row:after {
    display: table;
    content: ""; }
  .grid .fluid .row:after {
    clear: both; }
  .grid .fluid .row [class*="span"] {
    float: left;
    margin-left: 2.128%;
    *margin-left: -47.872%; }
  .grid .fluid .row [class*="span"]:first-child {
    margin-left: 0; }
  .grid .fluid .row .span-1 {
    width: 6.383%; }
  .grid .fluid .row .span-2 {
    width: 14.894%; }
  .grid .fluid .row .span-3 {
    width: 23.404%; }
  .grid .fluid .row .span-4 {
    width: 31.915%; }
  .grid .fluid .row .span-5 {
    width: 40.426%; }
  .grid .fluid .row .span-6 {
    width: 48.936%; }
  .grid .fluid .row .span-7 {
    width: 57.447%; }
  .grid .fluid .row .span-8 {
    width: 65.957%; }
  .grid .fluid .row .span-9 {
    width: 74.468%; }
  .grid .fluid .row .span-10 {
    width: 82.979%; }
  .grid .fluid .row .span-11 {
    width: 91.489%; }
  .grid .fluid .row .span-12 {
    width: 100.0%; }

[class^="icon-"],
[class*="icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: 0.3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/appdotnet-glyphs-pink.png");
  background-position: 14px 14px;
  background-repeat: no-repeat; }

[class^="icon-"]:last-child,
[class*="icon-"]:last-child {
  *margin-left: 0; }

[class^="icon-"].white
[class*="icon-"].white {
  background-image: url("../img/appdotnet-glyphs-white.png"); }

[class^="icon-"].red
[class*="icon-"].red {
  background-image: url("../img/appdotnet-glyphs-red.png"); }

[class^="icon-"].yellow
[class*="icon-"].yellow {
  background-image: url("../img/appdotnet-glyphs-yellow.png"); }

[class^="icon-"].orange
[class*="icon-"].orange {
  background-image: url("../img/appdotnet-glyphs-orange.png"); }

[class^="icon-"].green
[class*="icon-"].green {
  background-image: url("../img/appdotnet-glyphs-green.png"); }

[class^="icon-"].blue
[class*="icon-"].blue {
  background-image: url("../img/appdotnet-glyphs-blue.png"); }

[class^="icon-"].purple
[class*="icon-"].purple {
  background-image: url("../img/appdotnet-glyphs-purple.png"); }

[class^="icon-"].pink
[class*="icon-"].pink {
  background-image: url("../img/appdotnet-glyphs-pink.png"); }

[class^="icon-"].black
[class*="icon-"].black {
  background-image: url("../img/appdotnet-glyphs-black.png"); }

[class^="icon-"].carminered
[class*="icon-"].carminered {
  background-image: url("../img/appdotnet-glyphs-carminered.png"); }

.icon-glass {
  background-position: 0 0; }

.icon-music {
  background-position: -24px 0; }

.icon-search {
  background-position: -48px 0; }

.icon-envelope {
  background-position: -72px 0; }

.icon-heart {
  background-position: -96px 0; }

.icon-star {
  background-position: -120px 0; }

.icon-star-empty {
  background-position: -144px 0; }

.icon-user {
  background-position: -168px 0; }

.icon-film {
  background-position: -192px 0; }

.icon-th-large {
  background-position: -216px 0; }

.icon-th {
  background-position: -240px 0; }

.icon-th-list {
  background-position: -264px 0; }

.icon-ok {
  background-position: -288px 0; }

.icon-remove {
  background-position: -312px 0; }

.icon-zoom-in {
  background-position: -336px 0; }

.icon-zoom-out {
  background-position: -360px 0; }

.icon-off {
  background-position: -384px 0; }

.icon-signal {
  background-position: -408px 0; }

.icon-cog {
  background-position: -432px 0; }

.icon-trash {
  background-position: -456px 0; }

.icon-home {
  background-position: 0 -24px; }

.icon-file {
  background-position: -24px -24px; }

.icon-time {
  background-position: -48px -24px; }

.icon-road {
  background-position: -72px -24px; }

.icon-download-alt {
  background-position: -96px -24px; }

.icon-download {
  background-position: -120px -24px; }

.icon-upload {
  background-position: -144px -24px; }

.icon-inbox {
  background-position: -168px -24px; }

.icon-play-circle {
  background-position: -192px -24px; }

.icon-repeat {
  background-position: -216px -24px; }

.icon-refresh {
  background-position: -240px -24px; }

.icon-list-alt {
  background-position: -264px -24px; }

.icon-lock {
  background-position: -287px -24px; }

.icon-flag {
  background-position: -312px -24px; }

.icon-headphones {
  background-position: -336px -24px; }

.icon-volume-off {
  background-position: -360px -24px; }

.icon-volume-down {
  background-position: -384px -24px; }

.icon-volume-up {
  background-position: -408px -24px; }

.icon-qrcode {
  background-position: -432px -24px; }

.icon-barcode {
  background-position: -456px -24px; }

.icon-tag {
  background-position: 0 -48px; }

.icon-tags {
  background-position: -25px -48px; }

.icon-book {
  background-position: -48px -48px; }

.icon-bookmark {
  background-position: -72px -48px; }

.icon-print {
  background-position: -96px -48px; }

.icon-camera {
  background-position: -120px -48px; }

.icon-font {
  background-position: -144px -48px; }

.icon-bold {
  background-position: -167px -48px; }

.icon-italic {
  background-position: -192px -48px; }

.icon-text-height {
  background-position: -216px -48px; }

.icon-text-width {
  background-position: -240px -48px; }

.icon-align-left {
  background-position: -264px -48px; }

.icon-align-center {
  background-position: -288px -48px; }

.icon-align-right {
  background-position: -312px -48px; }

.icon-align-justify {
  background-position: -336px -48px; }

.icon-list {
  background-position: -360px -48px; }

.icon-indent-left {
  background-position: -384px -48px; }

.icon-indent-right {
  background-position: -408px -48px; }

.icon-facetime-video {
  background-position: -432px -48px; }

.icon-picture {
  background-position: -456px -48px; }

.icon-pencil {
  background-position: 0 -72px; }

.icon-map-marker {
  background-position: -24px -72px; }

.icon-adjust {
  background-position: -48px -72px; }

.icon-tint {
  background-position: -72px -72px; }

.icon-edit {
  background-position: -96px -72px; }

.icon-share {
  background-position: -120px -72px; }

.icon-check {
  background-position: -144px -72px; }

.icon-move {
  background-position: -168px -72px; }

.icon-step-backward {
  background-position: -192px -72px; }

.icon-fast-backward {
  background-position: -216px -72px; }

.icon-backward {
  background-position: -240px -72px; }

.icon-play {
  background-position: -264px -72px; }

.icon-pause {
  background-position: -288px -72px; }

.icon-stop {
  background-position: -312px -72px; }

.icon-forward {
  background-position: -336px -72px; }

.icon-fast-forward {
  background-position: -360px -72px; }

.icon-step-forward {
  background-position: -384px -72px; }

.icon-eject {
  background-position: -408px -72px; }

.icon-chevron-left {
  background-position: -432px -72px; }

.icon-chevron-right {
  background-position: -456px -72px; }

.icon-plus-sign {
  background-position: 0 -96px; }

.icon-minus-sign {
  background-position: -24px -96px; }

.icon-remove-sign {
  background-position: -48px -96px; }

.icon-ok-sign {
  background-position: -72px -96px; }

.icon-question-sign {
  background-position: -96px -96px; }

.icon-info-sign {
  background-position: -120px -96px; }

.icon-screenshot {
  background-position: -144px -96px; }

.icon-remove-circle {
  background-position: -168px -96px; }

.icon-ok-circle {
  background-position: -192px -96px; }

.icon-ban-circle {
  background-position: -216px -96px; }

.icon-arrow-left {
  background-position: -240px -96px; }

.icon-arrow-right {
  background-position: -264px -96px; }

.icon-arrow-up {
  background-position: -289px -96px; }

.icon-arrow-down {
  background-position: -312px -96px; }

.icon-share-alt {
  background-position: -336px -96px; }

.icon-resize-full {
  background-position: -360px -96px; }

.icon-resize-small {
  background-position: -384px -96px; }

.icon-plus {
  background-position: -408px -96px; }

.icon-minus {
  background-position: -433px -96px; }

.icon-asterisk {
  background-position: -456px -96px; }

.icon-exclamation-sign {
  background-position: 0 -120px; }

.icon-gift {
  background-position: -24px -120px; }

.icon-leaf {
  background-position: -48px -120px; }

.icon-fire {
  background-position: -72px -120px; }

.icon-eye-open {
  background-position: -96px -120px; }

.icon-eye-close {
  background-position: -120px -120px; }

.icon-warning-sign {
  background-position: -144px -120px; }

.icon-plane {
  background-position: -168px -120px; }

.icon-calendar {
  background-position: -192px -120px; }

.icon-random {
  background-position: -216px -120px; }

.icon-comment {
  background-position: -240px -120px; }

.icon-magnet {
  background-position: -264px -120px; }

.icon-chevron-up {
  background-position: -288px -120px; }

.icon-chevron-down {
  background-position: -313px -119px; }

.icon-retweet {
  background-position: -336px -120px; }

.icon-shopping-cart {
  background-position: -360px -120px; }

.icon-folder-close {
  background-position: -384px -120px; }

.icon-folder-open {
  background-position: -408px -120px; }

.icon-resize-vertical {
  background-position: -432px -119px; }

.icon-resize-horizontal {
  background-position: -456px -118px; }

.icon-hdd {
  background-position: 0 -144px; }

.icon-bullhorn {
  background-position: -24px -144px; }

.icon-bell {
  background-position: -48px -144px; }

.icon-certificate {
  background-position: -72px -144px; }

.icon-thumbs-up {
  background-position: -96px -144px; }

.icon-thumbs-down {
  background-position: -120px -144px; }

.icon-hand-right {
  background-position: -144px -144px; }

.icon-hand-left {
  background-position: -168px -144px; }

.icon-hand-up {
  background-position: -192px -144px; }

.icon-hand-down {
  background-position: -216px -144px; }

.icon-circle-arrow-right {
  background-position: -240px -144px; }

.icon-circle-arrow-left {
  background-position: -264px -144px; }

.icon-circle-arrow-up {
  background-position: -288px -144px; }

.icon-circle-arrow-down {
  background-position: -312px -144px; }

.icon-globe {
  background-position: -336px -144px; }

.icon-wrench {
  background-position: -360px -144px; }

.icon-tasks {
  background-position: -384px -144px; }

.icon-filter {
  background-position: -408px -144px; }

.icon-briefcase {
  background-position: -432px -144px; }

.icon-fullscreen {
  background-position: -456px -144px; }

/* Typography.scss
 * Currently based heavily on Twitter Bootstrap and a few AListApart
 * articles.
 */
p {
  margin: 0 0 9px; }
  p small {
    font-size: 11px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizeLegibility; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    color: #999999; }

h1 {
  font-size: 2.16em;
  line-height: 36px; }
  h1 small {
    font-size: 1.5em; }

h2 {
  font-size: 2em;
  line-height: 36px; }
  h2 small {
    font-size: 1.5em; }

h3 {
  font-size: 1.5em;
  line-height: 27px; }
  h3 small {
    font-size: 1.25em; }

h4, h5, h6 {
  line-height: 18px; }

h4 {
  font-size: 1.2em; }
  h4 small {
    font-size: 1em; }

h5 {
  font-size: 1em; }
  h5 small {
    font-size: 1em; }

h6 {
  font-size: 0.9em;
  text-transform: uppercase; }

ul, ol {
  padding: 0;
  margin: 0 0 9px 25px; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li {
  line-height: 18px; }

ul.unstyled, ol.unstyled {
  margin-left: 0;
  list-style: none; }

dl {
  margin-bottom: 18px; }

dt, dd {
  line-height: 18px; }

dt {
  font-weight: bold;
  line-height: 17px; }

dd {
  margin-left: 9px; }

.dl-horizontal dt {
  float: left;
  width: 120px;
  clear: left;
  text-align: right; }
.dl-horizontal dd {
  margin-left: 130px; }

hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #999999;
  border-bottom: 1px solid white; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #999999; }

blockquote {
  padding: 0 0 0 1.1em;
  margin: 0 0 18px;
  border-left: 5px solid #dddddd; }
  blockquote p {
    margin-bottom: 0; }
  blockquote small {
    display: block;
    line-height: 18px;
    color: #999999; }
    blockquote small:before {
      content: '\2014 \00A0'; }

q:before, q:after,
blockquote:before blockquote:after {
  content: ""; }

address {
  display: block;
  margin-bottom: 18px;
  font-style: normal;
  line-height: 18px; }

small {
  font-size: 100%; }

cite {
  font-style: normal; }

code, pre {
  padding: 0 3px 2px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

code {
  padding: 2px 4px;
  color: #d14;
  background-color: #dddddd;
  border: 1px dotted #e1e1e8; }

pre {
  display: block;
  padding: 8.5px;
  margin: 0 0 9px;
  font-size: 12.025px;
  line-height: 18px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #dddddd;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  pre.prettyprint {
    margin-bottom: 18px; }
  pre code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: 0; }

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll; }

form {
  margin: 0 0 18px; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  margin-bottom: 27px;
  font-size: 19.5px;
  line-height: 36px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #dddddd; }
  legend small {
    font-size: 13.5px;
    color: #999999; }

label, input, button, select, textarea {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal; }

input, button, select, textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

label {
  display: block;
  margin-bottom: 4px; }

select, textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 18px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555555; }

input, textarea {
  width: 210px; }

textarea {
  height: auto; }

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: white;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="color"]:focus,
  .uneditable-input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.6); }

input[type="radio"],
input[type="checkbox"] {
  margin: 3px 0;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer; }

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto; }

.uneditable-textarea {
  width: auto;
  height: auto; }

select, input[type="file"] {
  height: 28px;
  *margin-top: 4px;
  line-height: 28px; }

select {
  width: 220px;
  border: 1px solid #bbb; }

select[multiple], select[size] {
  height: auto; }

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #999999;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.navbar-container {
  padding-left: 2.128%;
  padding-right: 2.128%;
  width: auto; }
  .navbar-container .navbar {
    height: 2.5em; }
    .navbar-container .navbar nav {
      margin-bottom: 0;
      display: inline-block; }
      .navbar-container .navbar nav ul.nav {
        margin-bottom: 0;
        margin-left: 0; }
        .navbar-container .navbar nav ul.nav li {
          display: inline;
          list-style: none;
          line-height: 2.5em;
          margin-left: 1em;
          margin-right: 1em; }
    .navbar-container .navbar .navbar-form {
      display: inline-block;
      margin-bottom: 0;
      *zoom: 1; }
      .navbar-container .navbar .navbar-form:before, .navbar-container .navbar .navbar-form:after {
        display: table;
        content: ""; }
      .navbar-container .navbar .navbar-form:after {
        clear: both; }
      .navbar-container .navbar .navbar-form input, .navbar-container .navbar .navbar-form select {
        display: inline-block;
        margin-bottom: 0; }

header {
  padding-left: 2.128%;
  padding-right: 2.128%;
  width: auto; }
  header #branding-medium {
    height: 5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
    header #branding-medium h1 {
      padding-top: 1em; }

.container {
  margin-top: 18px; }

[role="main"] article {
  padding-bottom: 18px; }
  [role="main"] article hgroup h1 {
    line-height: 45px;
    vertical-align: bottom;
    color: #333333;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075); }
  [role="main"] article hgroup .byline .datetime, [role="main"] article hgroup .byline .author {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em; }
  [role="main"] article .metadata {
    text-align: right; }

.sidebar-container {
  background-color: #dddddd; }
  .sidebar-container .sidebar {
    margin-left: 2em; }
    .sidebar-container .sidebar ul {
      margin-top: 0.5em;
      margin-left: 0; }
      .sidebar-container .sidebar ul li {
        list-style: none;
        margin-left: 0;
        width: auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15); }

footer {
  background: #111111;
  color: #dddddd;
  margin-top: 36px;
  padding-left: 2.128%;
  padding-right: 2.128%;
  width: auto; }
  footer .copy {
    text-align: center;
    font-size: 0.925em;
    line-height: 27px; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }
